<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" th:classappend="${activeTab == 'files'} ? 'active'" id="nav-files-tab" th:href="@{/home/files}" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" th:classappend="${activeTab == 'notes'} ? 'active'" th:href="@{/home/notes}" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" th:classappend="${activeTab == 'credentials'} ? 'active'" th:href="@{/home/credentials}" role="tab"aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div th:if="${activeTab == 'files'}" class="tab-pane fade show active" id="files" role="tabpanel" aria-labelledby="nav-files-tab">
                        <form action="#" th:action="@{/home/files}" enctype="multipart/form-data" method="POST">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-dark">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div th:if="${fileUploadError}" class="alert alert-warning alert-dismissible fade show" role="alert">
                            <span th:text="${fileUploadError}">Example error</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div th:if="${files.size() == 0}" class="alert alert-dark mt-4 text-center">
                            No files available
                        </div>
                        <div th:unless="${files.size() == 0}" class="table-responsive mt-4">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="file : ${files}">
                                    <td>
                                        <a target="_blank" th:href="@{/home/files/view/{id}(id=${file.fileId})}" class="btn btn-success">View</a>
                                        <form action="#" th:action="@{/home/files/{id}(id=${file.fileId})}" class="d-inline" th:method="delete">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                    <th scope="row" th:text="${file.name}">ExampleFile.txt</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div th:if="${activeTab == 'notes'}" class="tab-pane fade show active" id="notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <div class="d-flex flex-row-reverse mt-2">
                            <button type="button" class="btn btn-info" onclick="showNoteModal()">
                                + Add a New Note
                            </button>
                        </div>
                        <div th:if="${notes.size() == 0}" class="alert alert-dark mt-4 text-center">
                            No notes available
                        </div>
                        <div th:unless="${notes.size() == 0}" class="table-responsive mt-4">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 60%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="note : ${notes}">
                                        <td>
                                            <button type="button" class="btn btn-success"
                                                    th:data-note-id="|${note.noteId}|"
                                                    th:data-note-title="|${note.title}|"
                                                    th:data-note-description="|${note.description}|"
                                                    onclick="showNoteModal(
                                                        this.getAttribute('data-note-id'),
                                                        this.getAttribute('data-note-title'),
                                                        this.getAttribute('data-note-description'))">Edit</button>
                                            <form action="#" th:action="@{/home/notes/{id}(id=${note.noteId})}" class="d-inline" th:method="delete">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                        <th scope="row" th:text="${note.title}">Example Note Title</th>
                                        <td th:text="${note.description}">Example Note Description </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div th:if="${note}" class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="form-note" th:object="${note}" action="#" th:action="@{/home/notes}" method="POST">
                                            <input th:field="*{noteId}" type="hidden" name="noteId" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input th:field="*{title}" type="text" name="noteTitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea th:field="*{description}" class="form-control" name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${activeTab == 'credentials'}" class="tab-pane fade show active" id="credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <div class="d-flex flex-row-reverse mt-2">
                            <button type="button" class="btn btn-info" onclick="showCredentialModal()">
                                + Add a New Credential
                            </button>
                        </div>

                        <div th:if="${credentials.size() == 0}" class="alert alert-dark mt-4 text-center">
                            No credentials available
                        </div>

                        <div th:unless="${credentials.size() == 0}" class="table-responsive mt-4">
                            <table class="table table-striped" th:object="${credentials}" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="credential : ${credentials}">
                                    <td>
                                        <button type="button" class="btn btn-success"
                                                th:data-credential-id="|${credential.credentialId}|"
                                                th:data-credential-url="|${credential.url}|"
                                                th:data-credential-username="|${credential.username}|"
                                                th:data-credential-password="|${credential.decryptedPassword}|"
                                                onclick="showCredentialModal(
                                                        this.getAttribute('data-credential-id'),
                                                        this.getAttribute('data-credential-url'),
                                                        this.getAttribute('data-credential-username'),
                                                        this.getAttribute('data-credential-password'))">Edit</button>
                                        <form action="#" th:action="@{/home/credentials/{id}(id=${credential.credentialId})}" class="d-inline" th:method="delete">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                    <th scope="row" th:text="${credential.url}">Example Credential URL</th>
                                    <td th:text="${credential.username}">Example Credential Username</td>
                                    <td th:text="${credential.password}">Example Credential Password</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div th:if="${credential}" class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#" th:object="${credential}" th:action="@{/home/credentials}" method="POST">
                                            <input th:field="*{credentialId}" type="hidden" name="credentialId" id="credential-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">URL</label>
                                                <input th:field="*{url}" type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Username</label>
                                                <input th:field="*{username}" type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Password</label>
                                                <input th:field="*{password}" type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, title, description) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(title ? title : '');
                $('#note-description').val(description ? description : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
        </script>
    </body>
</html>